.sidebar{
    font-family:arial;
    font-size:large;
}

.maincontentStyleP{
    font-family:arial;
    font-size:large;
    text-align:justify;
    line-height:1.5;
    width:91%;
}

.maincontentStyleP1{
    margin-left:5em;
    font-family:arial;
    font-size:large;
    text-align:justify;
    line-height:1.5;
    width:91%;
}

.maincontentStyleNote{
    font-family:arial;
    font-size:large;
    text-align:justify;
    line-height:1;
}
.maincontentStyleH{
    font-family:arial;
    font-size:x-large;
    font-style:italic;
    text-align:justify;
    line-height:1.5;
}

.pubHeaderStyle{
    font-family:arial;
    font-size:large;
	color:green;
    line-height:1;
    width:91%;
    text-align:center;
    line-height:1.3;
}

.footStyle{
    font-family:arial;
    font-size:small;
    font-style:italic;
    text-align:justify;
    line-height:1.5;
}

.bibStyle{
    font-family:arial;
    font-size:medium;
    color:green;
    text-align:justify;
    line-height:1.5;
}

.interstyle{
    background-color: black;
    opacity:0.9;
    background-image: linear-gradient(to right, blue, black);
}
